$backgroundColor: #efefef;
$radius: 40%;
form {
  display: inline-block;
  margin: 0 0 0 20%;
  .formG{
    display:flex;
    margin: 0 0 0 7%;
  }
 
  strong {
    margin-right: 1rem;
  }
  label {
    display: flex;
    margin: 1rem 0;
    &.methods {
      span {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
        margin-right: 2rem;
        padding: 0.25rem 0.5rem;
        background: rgb(175, 176, 182);
        height: 35px;
        margin-top: 5px;
      }
    }
  }
  input {
    background: none;
    background-color: white;
    font-size: 15px;
    display: block;
    border: none;
    margin: 25px 10px;


    
  }

  button {
    background-color:  rgb(15, 35, 145);
    border: none;
    color: rgb(7, 6, 6);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1.5rem;
    padding: 0.25rem 1.5rem;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  button:hover {
    background-color: #f8f8f8;
    color: rgb(14, 13, 13);
  }

  textarea {
    width: 810px;
    height: 200px;
  }


}


