$headerboreder: rgb(206, 169, 169);
$backgroundColor: rgba(97, 59, 59, 0.863);

.header {
    background: $backgroundColor;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
    
    .navBar{
        margin: 0 0 0 42%;
        
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            margin-right: 50px;
         
            li{
                display: inline-block;
                margin-right: 1rem;
                a{
                    color: white;
                    text-decoration: none;
                    &:hover{
                        color: rgb(107, 93, 93);
                        
                    }
                }
            }
        }
        
    }
                header {
                        background: $backgroundColor;
                        border-bottom: 1px solid rgb(17, 17, 17);
                        color: #eee;
                        text-align: center;
                        h1 {
                                font-family: "Courier New", Courier, monospace;
                                line-height: 1.4;
        }

    }
}