$backgroundColor: rgb(71, 71, 71);
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background: darken($backgroundColor, 10);
    border-top: 1px solid #eee;
    padding: 0.2em 3em;
    display: flex;
    align-items: center;
    height: 70px;

    footer {
        text-align: left;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: aliceblue;
        
    }
}