$backgroundColor: #676f7a;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}

body {
  background-color: $backgroundColor;
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  #root {
    height: 100%;
    .body{
      margin-top: 70px;
    }
    div {
      margin-top: 10px;
    }
  }


}